* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
    background-image: image(url("background/wl_bg.png"));
    background-size: cover;
    background-position: center;
}

button {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(30, 30, 30, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 15px;
    transition: all 0.3s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(50, 50, 80, 0.9);
    border: 2px solid rgba(100, 100, 200, 0.8);
    outline-style: none;
    background-size: 30%;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
